<section class="thirteen columns employment">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Lead Consultant</h1>
            <span>
                <address>GENPACT HEADSTRONG CAPITAL MARKETS | NOIDA</address>
                <time>July 2012 to Present</time>
            </span>
        </header>
        <ul>
            <li>Development of new features and bug fixing</li>
            <li>Learned Agile model of software development and took ownership of all coding and testing</li>
            <li>Implemented multiple item drag and drop feature in Angular</li>
            <li>Creating UI solutions utilizing agile process</li>
            <li>Functional Testing of various test case scenarios</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Lead Engineer</h1>
            <span>
                <address>HCL Technologies | NOIDA</address>
                <time>Feb 2010 to July 2012</time>
            </span>
        </header>
        <ul>
            <li>Bug fixing for mobile app</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Web Developer</h1>
            <span>
                <address>Future soft India Pvt. LTD | DELHI</address>
                <time>Jan 2008 to Feb 2010</time>
            </span>
        </header>
        <ul>
            <li>Only frontend senior dev in team</li>
            <li>Designing of reusable components</li>
            <li>Evaluating requirements and preparing functional mockups</li>
            <li>Guiding team to follow best practices</li>
            <li>Unit and Integration testing</li>
            <li>Carried out UAT deployment using Bamboo</li>
        </ul>
    </article>
</section>